.kep-login-facebook.metro {
    height: 46px;
    width: 190px;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px;
    border-radius: 2px;
    font-family: Roboto;
}