#name {
    margin-bottom: 2%;
}

#address {
    margin-bottom: 2%;
}

#zip {
    margin-bottom: 2%;
}

#city {
    margin-bottom: 2%;
}

#inva {
    margin-bottom: 2%;
}

#latitude {
    margin-bottom: 2%;
}

#longitude {
    margin-bottom: 2%;
}

#information {
    margin-bottom: 2%;
}

#picture {
    margin-bottom: 2%;
}

#opening {
    margin-bottom: 2%;
}

#closing {
    margin-bottom: 2%;
}

#pricing {
    margin-bottom: 2%;
}