.page-numbers {
    list-style: none;
    margin: 0;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
}

.page-numbers > li {
    margin-right: 1.2em;
    color: rgb(76, 76, 250);
    user-select: none;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
}

.page-numbers ul li.active {
    color: green;
}

.page-numbers a:active {
    color: yellow;
}

.page-numbers > li:hover {
    color: red;
}

ul li {
    list-style: none;
    display: inline;
}

li {
    list-style: none;
}

.paging {
    margin-left: 0;
    margin-right: 0;
    display: inline;
}

.filterBtn {
    width: 25%;
    margin: 1%;
}

.filterBtns {
    width: 40%;
}

@media screen and (max-width: 1000px) {
    .wc {
        display: none;
        float: none;
        width: 90%;
    }
}

@media screen and (max-width: 840px) {
    .filterBtn {
        display: block;
        float: none;
    }
    .filterBtns {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .wc {
        display: block;
        float: none;
        width: 100%;
    }
}