
.filterBtn {
    width: 120px;
    margin: 1%;
}

@media screen and (max-width: 1000px) {
    .wc {
        display: block;
        float: none;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .filterBtn {
        display: block;
        float: none;
        width: 85px;
    }
}

@media screen and (max-width: 400px) {
    .wc {
        display: block;
        float: none;
        width: 100%;
    }
}